# Downloading data from kaggle

First you should create a token in kaggle and upload it in Files

In [1]:
! pip install -q kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle competitions download -c nlp-getting-started

mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading nlp-getting-started.zip to /content
  0% 0.00/593k [00:00<?, ?B/s]
100% 593k/593k [00:00<00:00, 82.8MB/s]

In [2]:
! unzip nlp-getting-started.zip

Archive:  nlp-getting-started.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

# Importing required libraries

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
plt.style.use('seaborn')

# Importing data

In [2]:
df = pd.read_csv("train.csv")
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
df.loc[df.text.isna(),:]

Empty DataFrame
Columns: [id, keyword, location, text, target]
Index: []

First we create a simple model just by using the text and target column

In [4]:
data = df.iloc[:,[0,3,4]]

In [5]:
data.id = data.index.values + 1
data

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

        id                                               text  target
0        1  Our Deeds are the Reason of this #earthquake M...       1
1        2             Forest fire near La Ronge Sask. Canada       1
2        3  All residents asked to 'shelter in place' are ...       1
3        4  13,000 people receive #wildfires evacuation or...       1
4        5  Just got sent this photo from Ruby #Alaska as ...       1
...    ...                                                ...     ...
7608  7609  Two giant cranes holding a bridge collapse int...       1
7609  7610  @aria_ahrary @TheTawniest The out of control w...       1
7610  7611  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611  7612  Police investigating after an e-bike collided ...       1
7612  7613  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 3 columns]

# Model

## Train/Test Split

In [6]:
from sklearn.model_selection import train_test_split
X = np.array(data.iloc[:,1])
y = np.array(data.iloc[:,-1])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=222)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, random_state=666)

##First layer

We use a pre-trained text embedding model as the first layer

In [7]:
import tensorflow_hub as hub
model = "https://tfhub.dev/google/nnlm-en-dim128-with-normalization/2"
hub_layer = hub.KerasLayer(model, input_shape=[], dtype=tf.string, trainable=True)
hub_layer(X_train[:3])

<tf.Tensor: shape=(3, 128), dtype=float32, numpy=
array([[ 4.65274483e-01,  6.03381395e-02, -2.25947276e-02,
         1.27515376e-01,  1.41367197e-01, -6.01468608e-02,
         5.61336055e-02, -8.17772746e-02, -1.25141844e-01,
         2.24831462e-01,  9.35670957e-02, -4.20897692e-01,
        -4.09677513e-02, -1.45227745e-01,  7.20147043e-02,
         1.95798203e-02, -4.88073304e-02,  2.30129459e-04,
        -6.65237084e-02,  7.47236833e-02, -1.82472244e-01,
         9.60581750e-02,  5.96922873e-05, -8.05068463e-02,
        -2.24518385e-02, -2.17670530e-01,  6.77260682e-02,
        -1.09929599e-01, -1.43464863e-01,  8.11961442e-02,
         8.42682868e-02,  1.66210532e-01,  7.72339106e-02,
         5.83183914e-02,  9.52747986e-02, -1.34607181e-01,
        -1.38968810e-01, -1.78631172e-01,  9.18664634e-02,
         2.02663898e-01, -9.43761542e-02,  1.13399848e-02,
        -4.26216424e-03, -3.19792554e-02,  5.60061038e-02,
         9.58899558e-02,  7.41870850e-02, -1.89713873e-02,
         3.82976383e-02,  2.18065232e-02,  8.01728922e-04,
         5.16509861e-02, -7.42166042e-02,  5.69770336e-02,
         1.62839741e-02,  8.77742022e-02,  9.81821194e-02,
        -9.65783074e-02, -1.11309871e-01, -1.21547140e-01,
        -1.15461066e-01,  4.57652621e-02, -1.26847729e-01,
        -7.17556104e-02,  5.81973381e-02,  5.53089492e-02,
        -1.48006722e-01, -1.14755355e-01,  1.79525882e-01,
        -9.01779011e-02,  1.94253726e-03,  1.51568905e-01,
         1.59277301e-02, -2.38073226e-02, -1.66257620e-01,
        -2.03997809e-02, -3.69744748e-02, -1.17827035e-01,
         6.18152283e-02,  1.54286072e-01,  1.24987597e-02,
         7.29719177e-03, -1.85272276e-01,  1.20144319e-02,
        -1.58726498e-01, -3.64126153e-02, -1.87849179e-01,
         4.14986163e-02,  3.42516422e-01,  1.28517509e-01,
        -1.65756643e-01,  6.46481663e-02,  1.09910294e-01,
        -9.57350731e-02,  1.96456432e-01,  8.80426392e-02,
         1.32734746e-01,  3.39774229e-02,  6.79503754e-02,
         3.44709754e-02,  4.76540727e-08, -1.02308378e-01,
         5.72448038e-02,  8.18487108e-02, -1.49368227e-01,
        -5.68406917e-02, -2.75093112e-02,  5.66318408e-02,
        -8.49988610e-02,  1.71205610e-01, -2.21558169e-01,
        -1.21816978e-01, -1.39943704e-01, -1.14702702e-01,
        -1.21714093e-01, -1.98793367e-01, -1.90614447e-01,
        -1.51617136e-02, -8.37933365e-03, -3.64568271e-02,
         1.34211257e-01, -1.34914175e-01,  1.82656914e-01,
        -5.02068587e-02, -5.19569255e-02, -7.77587667e-02,
         1.37282863e-01, -7.88637102e-02],
       [ 3.31720442e-01,  4.52074260e-02,  2.17037238e-02,
         1.20036170e-01, -5.51927499e-02,  9.17162299e-02,
         7.48558566e-02, -3.35027501e-02, -1.47906438e-01,
         2.24747568e-01,  5.69163598e-02,  1.28457189e-01,
        -1.15466490e-02,  2.25167871e-02, -8.68622959e-02,
        -7.67616555e-02, -1.99972600e-01, -6.42137602e-02,
         1.09916758e-02,  2.86110252e-01,  3.40231359e-02,
        -1.55453375e-02,  1.06079038e-02,  1.19374000e-01,
        -4.38132845e-02, -1.30639359e-01, -3.23592126e-02,
         1.09649882e-01,  1.89655146e-03, -5.04716337e-02,
        -7.50003681e-02, -1.54013544e-01,  4.78082821e-02,
         2.34344192e-02, -1.15213807e-04, -1.31343603e-01,
         2.08140969e-01, -2.93330606e-02,  1.13267794e-01,
        -1.11899950e-01, -1.12046361e-01, -2.98743583e-02,
        -6.37790710e-02,  1.12036631e-01,  6.86420351e-02,
         7.74363428e-02,  6.54128147e-03,  9.85993817e-03,
         3.01214643e-02, -9.19051021e-02,  3.44086960e-02,
        -2.81987432e-02,  2.10169807e-01, -1.13773100e-01,
        -3.86143737e-02, -8.78280774e-02,  1.12260714e-01,
        -3.05639040e-02,  1.22177247e-02,  9.25292969e-02,
        -8.18827227e-02,  9.21900421e-02,  1.07687987e-01,
        -1.29497930e-01,  5.38109206e-02,  4.11591567e-02,
        -5.42941950e-02, -6.42140433e-02,  1.74695790e-01,
        -7.83420131e-02, -6.50008917e-02,  1.35336757e-01,
         8.07536067e-04, -1.96732339e-02, -8.15669596e-02,
         7.02419952e-02, -2.25641504e-01, -4.52880096e-03,
        -2.51997113e-02, -2.29164883e-02, -1.76865086e-01,
        -4.97283414e-02, -1.33188859e-01, -1.00644603e-01,
        -6.78181974e-03,  4.61551659e-02, -2.39447076e-02,
         1.45937935e-01,  1.67838290e-01,  1.70669809e-01,
         2.29715943e-01, -1.22080036e-02,  1.57304049e-01,
        -7.58601800e-02,  7.34917149e-02, -1.34083033e-01,
         2.82254387e-02,  5.51802153e-03,  1.17779367e-01,
         8.99699032e-02,  1.16778836e-01, -8.62267613e-02,
        -5.39398119e-02,  8.72511268e-02,  3.43354605e-02,
         1.54242426e-01, -3.40392068e-02,  1.68575466e-01,
        -1.67846411e-01, -7.83920661e-02, -7.68879354e-02,
         1.13948755e-01,  1.68087613e-02, -3.14590149e-02,
        -1.99672773e-01, -1.27899691e-01,  4.14198525e-02,
         4.19762544e-02,  1.02426238e-01,  5.05617447e-02,
         1.01149149e-01, -1.21044070e-01,  1.93113610e-02,
         4.93068248e-02,  2.19172854e-02, -7.15260431e-02,
         1.37838395e-02, -7.95520097e-03],
       [ 1.82162941e-01,  9.15422849e-03,  6.07996248e-02,
        -1.85236707e-01,  2.42456198e-01,  8.74660388e-02,
        -2.76117414e-01,  7.90822040e-03, -3.20537724e-02,
         2.58672208e-01,  6.54370859e-02,  1.79326788e-01,
         1.89448476e-01, -2.81597406e-01, -9.43341628e-02,
         2.81644136e-01,  5.36429174e-02, -1.25259953e-02,
         1.73719842e-02, -1.40409008e-01,  9.57069360e-03,
        -9.16479155e-02,  2.06213281e-01,  1.32400215e-01,
         4.61899824e-02, -3.07906240e-01,  1.71923086e-01,
        -3.52559090e-02, -4.33801532e-01, -9.41409692e-02,
         7.60432854e-02,  1.15510918e-01, -7.80330747e-02,
         1.51651889e-01,  2.21103713e-01,  1.49918944e-01,
        -1.20908655e-02,  2.65936591e-02,  1.79790556e-01,
         3.19617875e-02, -9.58806202e-02, -2.11456930e-03,
        -1.57927394e-01, -4.02409166e-01, -5.96774444e-02,
        -8.83873850e-02, -3.27502936e-02,  2.80074954e-01,
        -1.18217744e-01,  2.20718846e-01,  1.25176534e-01,
         1.01201929e-01, -2.08013251e-01,  2.38629848e-01,
        -3.13661188e-01,  9.46478546e-02, -2.91171819e-01,
        -2.85864979e-01,  1.90586521e-04, -4.81046230e-01,
        -4.11189795e-01, -1.24519579e-01,  2.70365357e-01,
         5.62900454e-02,  2.61236751e-03,  2.80165393e-02,
        -1.68065965e-01,  3.48359048e-02,  1.21274143e-01,
        -1.24721311e-01,  1.61225006e-01, -6.03275327e-03,
         2.12360039e-01, -7.97265619e-02,  3.65769595e-01,
        -1.10138595e-01, -9.68890637e-02,  8.62195268e-02,
         2.52115190e-01,  2.34135371e-02, -1.44632161e-01,
         1.72606725e-02, -2.58851144e-02,  7.08860084e-02,
         4.26359400e-02, -1.06268257e-01, -3.07202727e-01,
         7.10799322e-02, -1.41049102e-01,  1.39088169e-01,
         3.78681049e-02, -1.26574606e-01, -2.32916743e-01,
        -1.40215337e-01,  7.15554953e-02,  2.26403475e-01,
        -9.75158066e-02,  1.35303468e-01, -8.32904428e-02,
        -3.03029478e-01, -1.72682792e-01, -2.62394994e-01,
         1.34584740e-01,  1.30478576e-01,  1.41242221e-01,
         2.07220122e-01, -3.57410568e-03, -8.65167528e-02,
        -1.34490937e-01, -1.79984868e-01,  1.33426338e-02,
         2.77693331e-01, -1.69919074e-01, -3.29884477e-02,
        -3.12762260e-01,  7.29574263e-02, -2.98107445e-01,
        -3.25172991e-01,  3.90982181e-02,  4.14061509e-02,
         3.30266207e-01, -4.64079455e-02, -5.11200354e-02,
        -3.22470337e-01, -1.33972660e-01, -1.37275476e-02,
         3.19168955e-01, -4.10338908e-01]], dtype=float32)>

In [8]:
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1,activation='sigmoid'))

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, 128)               124642688

 dense (Dense)               (None, 16)                2064

 dropout (Dropout)           (None, 16)                0

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 124,644,769
Trainable params: 124,644,769
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['acc'])

In [10]:
history = model.fit(X_train,
                    y_train,
                    epochs=40,
                    batch_size=512,
                    validation_data=(X_val, y_val),
                    verbose=1)

Epoch 1/40
9/9 [==============================] - 2s 105ms/step - loss: 0.6730 - acc: 0.6024 - val_loss: 0.6440 - val_acc: 0.7111
Epoch 2/40
9/9 [==============================] - 1s 80ms/step - loss: 0.6073 - acc: 0.7677 - val_loss: 0.5986 - val_acc: 0.7505
Epoch 3/40
9/9 [==============================] - 1s 82ms/step - loss: 0.5459 - acc: 0.8045 - val_loss: 0.5539 - val_acc: 0.7728
Epoch 4/40
9/9 [==============================] - 1s 81ms/step - loss: 0.4799 - acc: 0.8408 - val_loss: 0.5144 - val_acc: 0.7899
Epoch 5/40
9/9 [==============================] - 1s 84ms/step - loss: 0.4115 - acc: 0.8647 - val_loss: 0.4850 - val_acc: 0.7984
Epoch 6/40
9/9 [==============================] - 1s 80ms/step - loss: 0.3484 - acc: 0.8899 - val_loss: 0.4651 - val_acc: 0.7978
Epoch 7/40
9/9 [==============================] - 1s 81ms/step - loss: 0.2931 - acc: 0.9109 - val_loss: 0.4556 - val_acc: 0.8024
Epoch 8/40
9/9 [==============================] - 1s 81ms/step - loss: 0.2388 - acc: 0.9323 - val_loss: 0.4534 - val_acc: 0.7965
Epoch 9/40
9/9 [==============================] - 1s 81ms/step - loss: 0.1929 - acc: 0.9512 - val_loss: 0.4575 - val_acc: 0.7978
Epoch 10/40
9/9 [==============================] - 1s 80ms/step - loss: 0.1560 - acc: 0.9639 - val_loss: 0.4668 - val_acc: 0.7912
Epoch 11/40
9/9 [==============================] - 1s 85ms/step - loss: 0.1275 - acc: 0.9700 - val_loss: 0.4800 - val_acc: 0.7899
Epoch 12/40
9/9 [==============================] - 1s 80ms/step - loss: 0.1030 - acc: 0.9785 - val_loss: 0.4945 - val_acc: 0.7859
Epoch 13/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0861 - acc: 0.9820 - val_loss: 0.5127 - val_acc: 0.7820
Epoch 14/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0718 - acc: 0.9845 - val_loss: 0.5310 - val_acc: 0.7833
Epoch 15/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0602 - acc: 0.9901 - val_loss: 0.5473 - val_acc: 0.7827
Epoch 16/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0492 - acc: 0.9930 - val_loss: 0.5634 - val_acc: 0.7820
Epoch 17/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0447 - acc: 0.9917 - val_loss: 0.5803 - val_acc: 0.7774
Epoch 18/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0372 - acc: 0.9947 - val_loss: 0.6000 - val_acc: 0.7754
Epoch 19/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0333 - acc: 0.9937 - val_loss: 0.6139 - val_acc: 0.7761
Epoch 20/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0301 - acc: 0.9954 - val_loss: 0.6293 - val_acc: 0.7728
Epoch 21/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0277 - acc: 0.9952 - val_loss: 0.6468 - val_acc: 0.7728
Epoch 22/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0255 - acc: 0.9956 - val_loss: 0.6607 - val_acc: 0.7682
Epoch 23/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0236 - acc: 0.9963 - val_loss: 0.6744 - val_acc: 0.7695
Epoch 24/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0212 - acc: 0.9956 - val_loss: 0.6868 - val_acc: 0.7676
Epoch 25/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0199 - acc: 0.9965 - val_loss: 0.6981 - val_acc: 0.7663
Epoch 26/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0180 - acc: 0.9972 - val_loss: 0.7135 - val_acc: 0.7663
Epoch 27/40
9/9 [==============================] - 1s 79ms/step - loss: 0.0169 - acc: 0.9961 - val_loss: 0.7275 - val_acc: 0.7643
Epoch 28/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0161 - acc: 0.9963 - val_loss: 0.7394 - val_acc: 0.7643
Epoch 29/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0151 - acc: 0.9967 - val_loss: 0.7495 - val_acc: 0.7636
Epoch 30/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0144 - acc: 0.9976 - val_loss: 0.7602 - val_acc: 0.7630
Epoch 31/40
9/9 [==============================] - 1s 86ms/step - loss: 0.0136 - acc: 0.9967 - val_loss: 0.7752 - val_acc: 0.7603
Epoch 32/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0139 - acc: 0.9963 - val_loss: 0.7855 - val_acc: 0.7617
Epoch 33/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0133 - acc: 0.9967 - val_loss: 0.7948 - val_acc: 0.7590
Epoch 34/40
9/9 [==============================] - 1s 82ms/step - loss: 0.0121 - acc: 0.9963 - val_loss: 0.8044 - val_acc: 0.7584
Epoch 35/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0122 - acc: 0.9974 - val_loss: 0.8108 - val_acc: 0.7577
Epoch 36/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0111 - acc: 0.9974 - val_loss: 0.8193 - val_acc: 0.7571
Epoch 37/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0118 - acc: 0.9967 - val_loss: 0.8278 - val_acc: 0.7564
Epoch 38/40
9/9 [==============================] - 1s 81ms/step - loss: 0.0111 - acc: 0.9978 - val_loss: 0.8397 - val_acc: 0.7557
Epoch 39/40
9/9 [==============================] - 1s 80ms/step - loss: 0.0100 - acc: 0.9974 - val_loss: 0.8486 - val_acc: 0.7584
Epoch 40/40
9/9 [==============================] - 1s 93ms/step - loss: 0.0105 - acc: 0.9967 - val_loss: 0.8568 - val_acc: 0.7623

In [11]:
results = model.evaluate(X_test, y_test)

print(results)

48/48 [==============================] - 0s 7ms/step - loss: 0.9673 - acc: 0.7525
[0.9673160314559937, 0.7524622678756714]

In [12]:
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1,activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 keras_layer (KerasLayer)    (None, 128)               124642688

 dense_2 (Dense)             (None, 16)                2064

 dropout_1 (Dropout)         (None, 16)                0

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 124,644,769
Trainable params: 124,644,769
Non-trainable params: 0
_________________________________________________________________

In [13]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['acc'])

In [14]:
history = model.fit(X,
                    y,
                    epochs=10,
                    batch_size=512,
                    verbose=1)

Epoch 1/10
15/15 [==============================] - 2s 80ms/step - loss: 0.5996 - acc: 0.8007
Epoch 2/10
15/15 [==============================] - 1s 75ms/step - loss: 0.4504 - acc: 0.8962
Epoch 3/10
15/15 [==============================] - 1s 75ms/step - loss: 0.3449 - acc: 0.9060
Epoch 4/10
15/15 [==============================] - 1s 75ms/step - loss: 0.2734 - acc: 0.9229
Epoch 5/10
15/15 [==============================] - 1s 76ms/step - loss: 0.2245 - acc: 0.9348
Epoch 6/10
15/15 [==============================] - 1s 76ms/step - loss: 0.1847 - acc: 0.9431
Epoch 7/10
15/15 [==============================] - 1s 75ms/step - loss: 0.1565 - acc: 0.9568
Epoch 8/10
15/15 [==============================] - 1s 75ms/step - loss: 0.1328 - acc: 0.9630
Epoch 9/10
15/15 [==============================] - 1s 76ms/step - loss: 0.1126 - acc: 0.9714
Epoch 10/10
15/15 [==============================] - 1s 76ms/step - loss: 0.0952 - acc: 0.9749

# Setting the test set

In [15]:
test = pd.read_csv('test.csv')
X_pred = np.array(test.iloc[:,-1])

In [18]:
y_pred = model.predict(X_pred)

In [20]:
y_pred[y_pred>=0.5] = 1
y_pred[y_pred<0.5] = 0

In [25]:
output = pd.DataFrame()
output['id'] = test['id']
output['target'] = y_pred
output['target'] = output['target'].astype(int)
output

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       0
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [26]:
output.to_csv('output.csv',index=False)

In [27]:
! kaggle competitions submit -c nlp-getting-started -f output.csv -m "first try"

100% 22.2k/22.2k [00:01<00:00, 16.1kB/s]
Successfully submitted to Natural Language Processing with Disaster Tweets